[Desktop Entry]
Encoding=UTF-8
Name=Link to Understanding CEP, Stream Processing, and their Implementations | My views of the World and Systems
Type=Link
URL=https://iwringer.wordpress.com/2015/12/15/cep-vs-streaming-processing-vs-cep-engines-vs-streaming-analytic-engines/
Icon=text-html
